<article class="article article-type-post show">
  <header class="article-header" style="border-bottom: 1px solid #ccc">
   <h1 class="article-title" itemprop="name" align=center>
    <%= page.title %>
  </h1>

  <div align=center>
       	<nav>
    			<font size="3" color="#dd00dd">
			文章 <%=site.posts.length%> &emsp;&emsp;
			分类 <%=site.categories.length%> &emsp;&emsp;
			标签 <%=site.tags.length%>
			</font>
       	</nav>
  </div>
  </header>

<br /> 

 <strong><font size="4" color="#228B22">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;标签云： </font> </strong>

<div align=center>
<% if (site.tags.length) { %>
  <script type="text/javascript" charset="utf-8" src="<%- url_for('/js/tagcloud.js') %>"></script>
  <script type="text/javascript" charset="utf-8" src="<%- url_for('/js/tagcanvas.js') %>"></script>
  <div class="widget-wrap">
    <div id="myCanvasContainer" class="widget tagcloud">
      <canvas width="300" height="300" id="resCanvas" style="width=100%">
        <%- tagcloud() %>
      </canvas>
    </div>
  </div>
</div>
<% } %>


  <strong><font size="4" color="#228B22"> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;分类： </font> </strong>



<% if (site.categories.length){ %>
  <div class="category-all-page article-type-post show">
	<font size="4" face="Arial" color="#dd00dd"><strong>
    <ul class="category-list">
    <% site.categories.sort('name').each(function(item){ %>
      <% if(item.posts.length){ %>
        <li class="category-list-item">
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="<%- config.root %><%- item.path %>" title="<%= item.name %>"><%= item.name %>   <font size="4" face="Arial" color="#dd00dd">[<%= item.posts.length %>]</font></a>
        </li>
      <% } %>
    <% }); %>
    </ul>
	</strong></font>
  </div>

  <% } %>


</article>